.bg1 {
	width: 45rem;
	height: 45rem;
	border-radius: 100vmax;
	position: absolute;
	top: -7%;
	right: -17%;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(var(--blue-accent), 0.4) 0%,
		rgba(var(--blue-accent), 0.32) 40%,
		rgba(var(--blue-accent), 0) 100%
	);
}

.bg2 {
	width: 51.25rem;
	height: 41.25rem;
	border-radius: 100vmax;
	position: absolute;
	top: -7%;
	left: 28%;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(var(--blue-accent-350), 0.3) 0%,
		rgba(var(--blue-accent-350), 0.24) 40%,
		rgba(var(--blue-accent-350), 0) 100%
	);
}

@media screen and (max-width: 1452px) {
	.bg1 {
		width: 41.25rem;
	}
	.bg2 {
		left: 22%;
	}
}

@media screen and (max-width: 1152px) {
	.bg2 {
		left: 16%;
	}
}
@media screen and (max-width: 1052px) {
	.bg1 {
		top: -8%;
		right: -19%;
	}
	.bg2 {
		left: 14%;
	}
}
@media screen and (max-width: 952px) {
	.bg1 {
		right: auto;
		left: 50%;
	}
}
@media screen and (max-width: 852px) {
	.bg1 {
		top: -7%;
	}
}
@media screen and (max-width: 752px) {
	.bg1 {
		opacity: 0.8;
	}
	.bg2 {
		left: 12%;
	}
}
@media screen and (max-width: 652px) {
	.bg1 {
		top: -7%;
		right: -56%;
		opacity: 0.65;
	}
	.bg2 {
		top: -6%;
		left: 2%;
		opacity: 0.65;
	}
}
@media screen and (max-width: 612px) {
	.bg1 {
		top: -6%;
		left: 54%;
	}
}
@media screen and (max-width: 552px) {
	.bg1 {
		left: 48%;
	}
	.bg2 {
		top: -7%;
		left: -24%;
	}
}
@media screen and (max-width: 520px) {
	.bg1 {
		top: -7%;
		left: 66%;
		transform: translate(-50%);
		z-index: 0;
	}
	.bg2 {
		top: -7%;
		left: -36%;
	}
}
@media screen and (max-width: 354px) {
	.bg1 {
		right: auto;
		left: 8%;
	}
	.bg2 {
		right: auto;
		left: -70%;
	}
}
